.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 77px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 1024px) {
  .header__links {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

@media (max-width: 425px) {
  .header__links {
    min-width: 62px;
  }
}