.header__logo {
  width: 176px;
  height: 52px;
  background-image: url("../../../images/header-logo.svg");
  background-size: cover;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.header__logo:hover {
  opacity: .8;
}

@media (max-width: 425px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}