.place__link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #fff;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.place__link:hover {
  opacity: .8;
}